<% if(typeof errors != 'undefined') { %>
    <% if(errors.length > 0) { %>
        <% errors.forEach(function(error) { %>
            <div class="chip chip_message_warning">
                <%= error.message %>
                <i class="close material-icons" style="font-size: 2rem">close</i>
              </div>
        <% }) %>
    <% } %>
<% } %>

<% if(successMsg != '') { %>
    <div class="chip chip_message_success">
        <%= successMsg %>
        <i class="close material-icons" style="font-size: 2rem">close</i>
      </div> 
<% } %>
