<div class="container welcome">
  <div class="card-panel blue-grey white-text">
    <div class="row">
      <div class="center-align">
        <h1>Secret Stash</h1>
        <i class="fa fa-key fa-5x"></i>
        <h5>Psst... Have a secret you want to share, anonymously?</h5>
        <h5>We got you covered!</h5>
        <h6>It's completely free and secure!</h6>
      </div>
      <div class="divider"></div>
      <div class="row">
        <div class="col s12 l12 m12 push-l5 push-m4 push-s3">
          <a href="/login">
            <button class="btn btn-large white black-text">
              <i class="fa fa-sign-in-alt"></i> Log In
            </button>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col s12 l12 m12 push-l5 push-m4 push-s3">
          <a href="/register">
            <button class="btn btn-large blue white-text">
              <i class="fas fa-user-plus"></i> Sign Up
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
