html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.divider {
  margin-bottom: 1rem;
}

/* Material style */

.flash_message {
  position: fixed;
  top: 70px;
  z-index: 99999;
  min-width: 100%;
}

.chip_message_info,
.chip_message_warning,
.chip_message_alert {
  text-align: center;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 20px !important;
  min-width: 100%;
  min-height: 50px;
}

.chip_message_info {
  background-color: #bbdefb !important;
}

.chip_message_warning {
  background-color: #ffcc80 !important;
}

.chip_message_alert {
  background-color: #ef9a9a !important;
}

@media screen and (max-width: 600px) {
  .chip_message_info,
  .chip_message_warning,
  .chip_message_alert {
    min-height: 75px;
  }
}
